html {
    background-color: #ddd;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');
    background-image : url('../images/bg.jpg');
    background-repeat:no-repeat;
    background-size: 100%;
    height: 100%;
        /* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
     width: 80%;
    overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
    background: none;
    }

.datepicker.dropdown-menu{
    z-index:99999;
}