html {
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');*/
    /*background-image : url('../images/bg.jpg');*/
    /*background-repeat:no-repeat;*/
    background-size: auto;
    min-height: 100%;
        /* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #EFEFEF; /* Old browsers */
    /*background: -moz-linear-gradient(top, #e6f3f7 0%, #0195a5 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6f3f7), color-stop(100%,#0195a5)); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, #e6f3f7 0%,#0195a5 100%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, #e6f3f7 0%,#0195a5 100%); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top, #e6f3f7 0%,#0195a5 100%); *//* IE10+ */
    /*background: linear-gradient(to bottom, #e6f3f7 0%,#0195a5 100%); *//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f3f7', endColorstr='#0195a5',GradientType=0 ); *//* IE6-9 */
}

body {
     width: 80%;
    overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
    background: none;
    }

.datepicker.dropdown-menu{
    z-index:20;
    display: inline-block;
}
.pac-container {
    z-index: 20;
    display: inline-block;
  }
.modal{
    z-index: 20;
    overflow-y:auto;
    max-height:90%;
}
.modal.wide{
    min-width:860px;
    left: 550px;
}

.modal-backdrop{
    z-index: 10;
}​

 .page-header{


 }

 .searchBar{

     height: 150px;
     border-radius: 2px;
     background-image: linear-gradient(bottom, rgb(99,99,99) 0%, rgb(92,92,92) 100%);
     background-image: -o-linear-gradient(bottom, rgb(99,99,99) 0%, rgb(92,92,92) 100%);
     background-image: -moz-linear-gradient(bottom, rgb(99,99,99) 0%, rgb(92,92,92) 100%);
     background-image: -webkit-linear-gradient(bottom, rgb(99,99,99) 0%, rgb(92,92,92) 100%);
     background-image: -ms-linear-gradient(bottom, rgb(99,99,99) 0%, rgb(92,92,92) 100%);

     background-image: -webkit-gradient(
         linear,
         left bottom,
         left top,
         color-stop(0, rgb(99,99,99)),
         color-stop(1, rgb(92,92,92))
     );
  }

 .search-input:hover{
     min-width: 50px;
     background-image: linear-gradient(bottom, rgb(189,189,189) 0%, rgb(38,38,38) 100%);
     background-image: -o-linear-gradient(bottom, rgb(189,189,189) 0%, rgb(38,38,38) 100%);
     background-image: -moz-linear-gradient(bottom, rgb(189,189,189) 0%, rgb(38,38,38) 100%);
     background-image: -webkit-linear-gradient(bottom, rgb(189,189,189) 0%, rgb(38,38,38) 100%);
     background-image: -ms-linear-gradient(bottom, rgb(189,189,189) 0%, rgb(38,38,38) 100%);

     background-image: -webkit-gradient(
         linear,
         left bottom,
         left top,
         color-stop(0, rgb(189,189,189)),
         color-stop(1, rgb(38,38,38))
     );
     border-radius: 4px;
     height: 30px;
     border-style: none;
     color: #ffffff;
 }
 .searchLegend{
     color: #ffffff;
 }
 .date-search.search-input{
     width: 130px;
 }
 .search-input{
     width: 180px;
     background-image: linear-gradient(top, rgb(189,189,189) 0%, rgb(38,38,38) 100%);
     background-image: -o-linear-gradient(top, rgb(189,189,189) 0%, rgb(38,38,38) 100%);
     background-image: -moz-linear-gradient(top, rgb(189,189,189) 0%, rgb(38,38,38) 100%);
     background-image: -webkit-linear-gradient(top, rgb(189,189,189) 0%, rgb(38,38,38) 100%);
     background-image: -ms-linear-gradient(top, rgb(189,189,189) 0%, rgb(38,38,38) 100%);

     background-image: -webkit-gradient(
         linear,
         right top,
         right bottom,
         color-stop(0, rgb(189,189,189)),
         color-stop(1, rgb(38,38,38))
     );
     border-radius: 4px;
     border-style: none;
     height: 30px;
     color: #ffffff;

 }


.label-search{
     background: none;
 }

.addrSearch{
    background-color: white;
    border-radius: 3px;
    border-color: #808080;
    box-shadow: black 2px 2px 5px;
   position: absolute;
    min-height: 200px;
   }

option{
    color: #000000;
}

